ssdeep
hurry.filesize
git+https://github.com/mass-project/mass_api_client.git
git+https://github.com/mass-project/common_helper_files.git
git+https://github.com/mass-project/common_analysis_base.git
git+https://github.com/mass-project/common_analysis_ssdeep.git
